h1 Proponents

= link_to 'New Proponent', new_proponent_path, class: 'btn btn-primary mb-3'

- @paginated_groups.each do |range, proponents|
  = render partial: 'proponent_group', locals: { range: range, proponents: proponents }
